.scrollbar-white::-webkit-scrollbar {
  height: 8px;
}

.scrollbar-white::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-white::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 4px;
}

.scrollbar-white::-webkit-scrollbar-thumb:hover {
  background: #f0f0f0;
}